*{  
    margin: 0;
    border: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.nav{
    /* height: 10vh; */
    width: 100%;
    display: flex;
    background-color: rgb(32, 29, 37);
    display: flex;
    padding: 15px 10px;
}
.nav .logo{
    /* width: 11%;
    height: 11vh; */
}
.nav .logo img{
    /* height: 10vh; */
    width: 100%;
}
.nav .bar ul{
    list-style: none;
    margin-left: 1%;
   
}
.bar ul li{
    display: inline-block;
    position: relative;
}
.nav .bar ul li a{
    display: contents;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 15px;

}
.nav .bar ul li ul.Dropdown li{
    display: block;
    
}
.nav .bar ul li ul.Dropdown{
    width: 100%;
    background: #22438c;
    position: absolute;
    z-index: 999;
    display: none;
}
.nav .bar ul li a:hover{
    background-color:darkgrey;
}
.nav .bar ul li:hover ul.Dropdown{
    display: block;
}
.nav .bar{
    width: 100%;
}
  
.nav .bar{
    display: flex;
    margin-left: 0%;
  
}
.catgry{
    margin-left: 2%;
    
}
.bar .my-stf{
    margin-left: 3%;
}
.bar .my-stf a{
    margin-left: 2%;
    color: whitesmoke;
    text-decoration: none;
}
/* .bar .hid a{
    margin-top: 2%;
} */
.catgry select{
    height: 4vh;
    background-color: transparent;
    border-radius: 6px;
}
.catgry{
    color: bisque;
}
.catgry option{
    background-color: blue;
}
.bar .bt{
    /* padding-left: 30%; */
    padding: 5px;
    height: 6vh;
    width: 10%;
    background-color:cornflowerblue;
    margin-left: 30%;
    border-radius: 4px;
  
}
.bar .bt h4{
    margin-top: 3%;
    color: white;
    font-weight: 100;
    margin-left: 8%;
}
/* .nav button{
    height: 6vh;
    width: 100%;
    font-size: medium;
    background-color:cyan;
    border-radius: 5px;
    border: none;
   
} */
.nav .icon{
    height: 4.5vh;
    width: 2%;
    margin-left: 1%;
    margin-top: 0.7%;
}
.nav .bar .icon i{
    color: white;
    font-size: large;
}

.nav .bar .lng{
    width: 5%;
    /* background-color: cadetblue; */
    margin: 0%;
    padding:0%
}
.lng select{
    height: 6vh;
    width: 80%;
    outline:none;
    background-color: transparent;
    color:burlywood;
    border: 0;
    background-color: gray;
}
.nav .icon1{
    height: 4.5vh;
    width: 2%;
    margin-top: 0.7%;
    margin-left: 1%;
    color: bisque;
}
.nav .bar .icon1 i{
    color: white;
    font-size: large;
}
.nav .bar .icn{
    height: 4.5vh;
    width: 2%;
    margin-top: 0.7%;
    margin-left: 2%;
} 
.icn i{
    color: azure;
}
.bg{
    width: 100%;
    background: linear-gradient(to left, rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/prime-bg.jpg);
    height: 90vh;
    background-size: cover;
}

.bg .cont1{
    color: antiquewhite;
    width: 100%;
    height: 17h;
    padding-top: 10%;
    padding-left: 5%;
    font-size: 1.1rem;
    line-height: 40px;
    
    
}
.cont1 h1 h2 {
    margin-bottom: 10%;
    
}
.bg .sign1{
    position: relative;
}
.bg .sign1 button{
    margin-top: 2%;
    background-color:rgb(7, 74, 141);
    border: none;
    height: 8vh;
    width: 23%;
    border-radius: 3px;
    margin-left: 5%;
    font-size: 1.2rem;
    color: beige;
}
hr{
    color:antiquewhite;
    line-height: 10px;
}
.bg2{
    background: linear-gradient(to left, rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(/amzn-bg2.jpg);
    height: 75vh;
    background-size: cover ;
    width: 100%;
}
   
.bg2 .cont2{
    line-height: 55px;
    height: 15vh;
    color: bisque;
    padding-top: 10%;
    padding-left: 52%;
    font-size:larger;
}
.bg2 .rent button{
    
        margin-top: -1%;
        background-color: rgb(7, 74, 141);;
        border: none;
        height: 8vh;
        width: 40%;
        border-radius: 3px;
        margin-left: 1%;
        font-size: 1rem;
        color: beige;
    
}
.prt3{
    display: flex;
    height: 90vh;
    width: 100%;
}
.totl{
    display: flex;
}
.prt3 .cont{
    width: 36%;
    padding-top: 10%;
    margin-left: 3.5%;
}
.prt3 .cont h4{
    margin-top: 3%;
    line-height: 25px;
}

.chnls{
    display: flex;
    gap: 15px;
    padding-left: 10%;
    margin-top: 2%;

}

.chnls .clm{
    transition: width 2s;
    width: 200px;
    height: 21vh;
    margin-top: 1.5%;
  
  
 
}
.chnls .clm img{
    width: 200px;
    height: 20vh;
    padding-top: 1%;
    transition:  0.5s ease-in-out;
    
}

.chnls .clm img:hover{
    transform:  scale(1.04);
    /* background-color: #333; */
    /* color: #333; */
    
  
    
}
.rmt{
    height: 80vh;
    background-image: url(/amz-remte.jpg);
    background-size: cover;

}
.rmt .rmt-cont{
    width: 100%;
    color: bisque;
    padding-top: 10%;
    padding-left: 60%;
    flex-wrap: wrap;
    font-size: large;
}
.gsts{
    width: 100%;
    height: 8vh;
    border-radius: 5px; 
    margin-top: 3%;

}
.gsts button{
    height: 8vh;
    width: 45%;
   color:cornsilk;
   background-color:dodgerblue;
   border: none;
   font-size: large;
}
.cld{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to left, rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(/amz-cld1.jpg);
    background-size: cover;
}
.cld .fam{
    color: beige;
    width: 40%;
    flex-wrap: wrap;
    line-height: 30px;
    padding-top: 12%;
    margin-left: 3%;
    font-size: large ;
}
.gsts1{
    width: 100%;
    height: 8vh;
    border-radius: 5px;
    margin-top: 0%;
    font-size: x-large;

}
.gsts1 button{
    height: 8vh;
    width:45%;
   color:cornsilk;
   background-color: rgb(7, 74, 141);;
   border: none;
   margin-top: 5%;
   font-size: large;
   
}
.prm-fotr{
    height: 25vh;
    width: 100%;
    background-color: rgb(37, 34, 34);
}
.prm-logo{
    padding-top: 2%;
    padding-left: 45%;
}
.footr{
    width: 100%;
    text-align: center;
    color:darkgrey;
    font-size: medium;
  
    
}
.trms a{
    text-decoration: none;
    gap: 50px;

}
@media(max-width:1330px){
    .lng select {
    height: 5vh;
    }
    .nav .icon1{
        margin-left: 0%;
    }
    .nav .bar .lng{
        width: 09%;
        font-size: small;
        margin-left: 0%;
    }
    .lng select {

    margin-left: 65%;
}
    .bar .bt{
        height: 5vh;
        font-size: medium;
        margin-left: 35%;
    }
    .bar .bt h4 {
    margin-top: 0;
    margin-left: 0%;
    }
}
@media(max-width:1150px){
    .bg{
        background-position-x: right;
    }
}

@media(max-width:1100px){
    .bg{
        background-position-x: right;
    }
    .bg2 .rent button{
         margin-top: 14.5%;
    }
    .chnls{
        margin-right: 1%;
    }
}
@media(max-width:1050px){
    .bg{
        
        background-size: cover;
        width: auto;
        background-position-x: right;
        }
        .bar .bt{
            width: 23%;
            font-size: 0.98rem;
        }
    .bg2 .rent button {
        margin-top: 0%;
    }
    .lng select{
        margin-left: 10%;
        width: 100%;
    }
    .nav .bar .lng {
    width: 10%;
    }
    .cld {
        height: 80vh;
    }
}
@media(max-width:1000px){
    .nav .bar .hme{
        display: none;
    }
    .nav .bar .str{
        display: none;
    }
    .nav .bar .chnl{
        display: none;
    }
    .nav .bar .catgry{
        display: none;
    }
    .nav .bar .my-stf{
        display: none;
    }
    /* .hid{
        padding-left: 20%;
    } */
    .chnls {
        margin-right: 1%;
        padding-left: 5%;
    }
    .bg2 .cont2 {
        line-height: 40px;
    }
    .nav .bar ul {
       
        margin-left: 2%;
    }
    .bar ul li {
        display: inline-block;
        position: relative;
        width: 200%;
      
        height: 7vh;
    }
    .bar .bt {
    height: 5vh;
    width: 12%;
    margin-left: 58.5%;
    }   
    
    .bar .bt h4{
        /* line-height: 15px;
        margin-top: 1%; */
        padding-left: 0%;
    }
}
@media(max-width:950px){
    .rmt .rmt-count{
        padding-top: 8%;
    }
    .bg .sign1 button{
        font-size: 1rem;
    }
}

@media(max-width:900px){
.bg{
    height: 85vh;
}
.cld{
    height: 70vh;
}
.rmt{
    background-position-x: -65px;
}

.rmt .rmt-cont{
    padding-top:10%;
    padding-left: 50%;
}
.bar ul li{
    margin-left: 50%;
}
/* .chnls .clm img{
    width: 170px;
}
.chnls{
    gap: 1px;
} */
.bar .bt{
    /* margin-left: 35%; */
}
}


@media(max-width:850px){
    .chnls{
        padding-left: 2%;
    }
    .cld{
        background-position-x: -60px;
    }
    .bar .bt{
        font-size: 0.94rem;
    }
}
@media(max-width:800px){
    .totl{
        flex-direction: column;
    }
    .bg2{
        height: 65vh;
    }
    .bar .bt{
        margin-left: 50%;
        font-size: 0.86rem;
    }
    .bar .bt h4 {
    margin-top: 2%;
    margin-left: 0%;
}
.nav .bar .lng{
    margin-left: 8%;
}
.nav .bar .icon1 i{
    margin-left: 275%;
}
.nav .bar .icon i{
    margin-left: 100%;
}
    .prt3 .cont{
        padding-top: 0%;
        width: 85%;
        line-height: 20px;
        margin-left: 7%;
    }
    .prt3 .cont h4 {
        line-height: 20px;
        flex-wrap: wrap;
        font-size: medium;
}
.chnls{
    padding-left: 15%;
    margin-top: 1%;

}
.chnls .clm{
    height: 18vh;
    width: 100%;
    margin-top: 0%;
    
    
}
.chnls .clm img{
    padding-top: 13%;
    width: 80%;
}
.cld{
    height: 65vh;
}
}
@media(max-width:750px){
    .nav{
        height: 8vh;
    }
    .nav .logo img{
        height: 3.5vh;
    }
    .bar .bt h4 {
        
    }
    .bar .bt {
        margin-left: 50%;
        font-size: 0.8.8rem;

    }
    .bg .sign1 button{
        width: 35%;
        height: 6vh;
        
    }
    .bg2 .cont2 {
        line-height: 40px;
    }
    .bg2 .rent button{
        height: 6vh;
        width: 60%;
        margin-top: 0%;
    }
    .rmt{
        height: 65vh;
    }
    .rmt .rmt-cont {
        padding-left: 45%;

    }
    .gsts{
        padding-left: 0%;
    }
    .gsts button {
        height: 6.5vh;
        width: 45%;
        
    }
}
@media(max-width:700px){
    .bg{
        height: 90vh;
        background-image: linear-gradient(to bottom rgba(0,0,0,0.9),rgba(0,0,0,0.9,)),url(/);
    }
    .bg .cont1{
        padding-top: 15%;
    }
    .bar .bt {
        width: 12%;
        margin-left: 30%;
    }
    .nav .icon{
        margin-left: 5%;
    }
    .nav .icon1{
        margin-left: 5%;
        width: 7%;
    }

    .bg2 .cont2 {
        line-height: 35px;
    }
    .chnls{
        margin-top: -1%;
    }
    .chnls .clm img:hover{
        transition: 0.3s;
        box-shadow: 10px 100px solid black;
        transform:  scale(1.04);
    }
    .cld{
        height: 58vh;
    }
    .cld .fam {
    width: 65%;
    }
    .gsts1 button{
        height: 7vh;
        width: 35vh;
    }
}
@media(max-width:650px){
    .bg{
        height: 76vh;
    }
    .bg .cont1{
        padding-top: 25%;
        font-size: 1rem;
    }
    .chnls .clm img {
        padding-top: 10%;
        height: 17vh;

    }
    .prt3 .cont {
        line-height: 26px;
    }
    .chnls{
        margin-top: -2%;
    }
    .chnls .clm{
        margin-top: -1%;
    }
}

@media(max-width:600px){
    .nav .icon{
        margin-left: 2%;
    }
    .nav .icon1{
        margin-left: 3%;
    }
    .bg{
        height: 60vh;
        background-image: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/farzi2.jpg);
    }
    .bar .bt{
        margin-left: 30%;
    }
    .chnls .clm img{
        padding-top: 7%;
        height: 17vh;
    }
   .bg .cont1{
        background-color: black;
        transform: translateY(200px);
        font-size: 0.8rem;
        height: 39vh;
        padding-top: 6%;
        padding-left: 0%;
        line-height: 22px;
        width: 100%;
        text-align: center;
    }
    .nav{
        height: 6vh;
    }
    .nav .logo img{
        height: 6vh;
    }
    .bg .sign1 button{
        height: 4.8vh;
        width: 90%;
        margin-top: 6%;
    } 
    .bg .cont1 h2{
        font-size: 1rem;
        font-weight: 300;

    
    }
    
    .bg2 .cont2{
        background-color: black;
        transform: translateY(200px);
        font-size: 0.8rem;
        height: 39vh;
        padding-top: 6%;
        padding-left: 0%;
        line-height: 22px;
        width: 100%;
        text-align: center;
    }
    .b2 .rent{
        transform: translate();
    }
    .bg2 .rent button{
        margin-left: 0%;
        height: 5vh;
        width: 90%;
        margin-top: 5%;
    }
    .prt3{
        margin-top: 10%;
    }
    .chnls{
        margin-top: -1%;
    }
    .chnls .clm img {
        height: 15vh;
    }
    .chnls .clm{
        margin-top: 1%;
    }
    .rmt .rmt-cont{
        background-color: black;
        transform: translateY(300px);
        font-size: 0.8rem;
        height: 39vh;
        padding-top: 6%;
        padding-left: 0%;
        line-height: 22px;
        width: 100%;
        text-align: center;
    }
    .gsts {
        padding-left: 0%;
    }
    .gsts button{
        width: 90%;
        height: 5vh;
    }
    .nav .bar .lng {
        width: 16%;
    }
    .lng select {
        height: 5vh;
    }
    .chnls .clm img:hover{
        /* width: 130px;
        height: 15vh;
        transition: 0.5s;
        box-shadow: 10px 100px solid black; */
        transform:  scale(1.04);
    } 
    .rmt{
        background-image: url(/rmt2.jpg);
        background-position-x: -7px;
        background-position-y: -50px;
        height: 50vh;
        width: 100%;
    }
    .cld{
        margin-top:36%;
        background-image: url(/cld2.jpg);
        background-position-y: -60 px;
        background-position-x: 0px;
    }
    .cld .fam{
        background-color: black;
        transform: translateY(300px);
        font-size: 0.8rem;
        height: 35vh;
        padding-top: 6%;
        padding-left: 0%;
        line-height: 22px;
        width: 100%;
        text-align: center; 
        margin-left: 0%;
    }
    .gsts1 button {
        height: 5vh;
        width: 90%;
    }
    .prm-fotr {
        height: 15vh;
        width: 100%;
        background-color: rgb(37, 34, 34);
        margin-top: 21%;
        height: 19vh;
    }
    }
    @media(max-width:550px){
        .nav .icon{
            margin-left: 3%;
        }
        .nav .icon1{
            margin-left: 5%;
        }
        .bar .bt{
            height: 4vh;
            margin-left: 38%;
        }
        .lng select {
            height: 4vh;
        }
        /* .hid a{
            font-size: small;
        } */
        .bar .bt h4{
            line-height: 10px;
            margin-top: 0%;
        }
        .nav .bar .icon1 i {
    margin-left: 140%;
        }
        .nav .bar .lng{
            width: 14%;
        }
        /* .hid{
            padding-left: 5%;
        } */
        .cld .fam {
            height: 32vh;
        }
        .prm-logo {
            padding-left: 41%;
        }
    .bar .bt h4 {
        margin-left: -1%;
        line-height: 10px;
    }
}
    
@media(max-width:500px){
    .rmt .rmt-cont {
        background-color: black;
        transform: translateY(280px);
        font-size: 0.8rem;
        height: 30vh;
        padding-top: 3%;
        padding-left: 0%;
        line-height: 22px;
        width: 100%;
        text-align: center;
    }
    .bg{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/img2.jpg);
    }
    .nav .logo{
        width: 20%;
    }
    .nav .icon{
        margin-left: 3%;
    }
    .bar .bt{
        margin-left: 15%;
    }
    /* .bar .bt h4 {
        margin-left: 0%;
        line-height: 0px;
        width: 40%;
    } */
    .lng select {
        width: 100%;
    }
    /* .hid {
        padding-left: 26%;
    } */
    .bg .cont1 {
        transform: translateY(210px);
        height: 33vh;
    }
    .bg .sign1 button{
        margin-top: 21%;
    }
    .nav .icon1{
        margin-left: 5%;
    }
    .bg2 .cont2{
        transform: translateY(270px);
        height: 33vh;
    }
    .chnls{
        padding-left: 11%;
    }
    .cld{
        margin-top: 28%;
    }
    .prm-fotr{
        margin-top: 23%;
    }
    .bar .bt h4 {
        line-height: 0%;
        margin-left: -9%;
        line-height: 10px;
    }
    .chnls .clm img:hover{
        /* width: 90px;
        height: 17vh;
        transition: 0.5s;
        box-shadow: 10px 90px solid #aaaaaa; */
        transform:  scale(1.04);
    }
}
@media(max-width:470px){
    .prm-fotr{
        margin-top: 25%;
    }
    .bar .bt{
        width: 15%;
        margin-left: 25%;
    }
    .bar .bt h4{
        padding-left: 0%;
        line-height: 0.7.5rem;
        /* width: 60%; */
    }   
    /* .nav .hid{
        margin-left: -11%;
    } */
    .nav .icon{
        margin-left: 4%;
    }
    .nav .icon1 {
        margin-left: 6%;
    }
    .nav .bar .lng {
        width: 15%;
    }
    .lng select{
        width: 95%;
        font-size: x-small;
    }
    /* .bar .bt h4 {
        margin-left: -12%;
        line-height: 11px;
    } */
}
@media(max-width:450px){
    .bg{
        height: 45vh;
    }
    .bg .cont1{
        padding-top: 20%;
        transform: translateY(240px);
    }
    .bg .sign1 button{
        margin-top: 40%;

    }
    
    .bg2 .cont2 {
        height: 31vh;
        transform: translateY(300px);
}
.bg2{
    
        height: 57vh;
        background-position-x: 0px;
        background-position-y: 110px;
    
}
/* .nav .bar .hid{
    padding-top: 1%;
} */
.bar .bt{
    margin-top: 1%;
}
.nav .icon{
   margin-top: 2%; 
}
.nav .icon1{
    margin-top: 2%;
}
.lng select{
    margin-top: 5%;
}

.prt3{
    margin-top: 28%;
    height: 72vh;
}
.chnls{
    margin-top: 10%;
}
.chnls .clm img{
    height: 12vh;
}
.chnls .clm {
    margin-top: -33%;
}
.cld{
    background-position-x: 80%;
    background-position-y: 135%;
    
}
.cld .fam{
    height: 33.5vh;
}
.prm-logo {
    padding-top: 3%;
    padding-left: 39%;
}
.prm-fotr{
    margin-top: 28%
}
.lng select {
    width: 115%;
}
.bar .bt h4{
    margin-left: -12%;
    line-height: 10px;
}   
.bar .bt{
    width: 15%;
    margin-left: 25%;
}
.nav .icon1{
    margin-left: 3%;
}
.prm-fotr {
    height: 26vh;
    padding-top: 25%;
    height: 26vh;

}
}
@media(max-width:420px){
    .prm-fotr{
        padding-top: 15%;
    }
    .bar .bt{
        width: 15%;
        margin-left: 18%;
    }
    .nav .icon{
        margin-left: 2%;
    }
    .nav .icon1 {
        margin-left: 7%;
    }
    .bar .bt h4{
        margin-left: -14%;
        line-height: 10px;
    }   
    .cld{
        height: 50vh;
        background-position-x: 77%;
    }
}
@media(max-width:400px){
    .bar .bt h4{
        padding-left: -28%;
        line-height: 7.5px;
    }
    .bar .bt{
        margin-left: 17%;
    }
    .bar .bt h4{
        line-height: 11px;
    }
    .nav .icon{
        margin-left: 3%;
    }
    .nav .icon1 {
        margin-left: 6%;
    }
    .chnls .clm {
        margin-top: -41%;
    }
    .clm img{
        height: 10.5vh;
    }
    .prm-fotr{
        margin-top: 36%;
    }
    .bg .sign1 button {
        margin-top: 42%;
    }
    .prt3{
        margin-top: 35%;
    }
    .bg2{
        height: 56vh;
    }
    .rmt{
        background-image: url(/rmt2.jpg);
        background-position-x: -33px;
        /* background-position-y: -50px; */
        
    }
}
@media(max-width:350px){
    .chnls{
        margin-top: 14%;
    }
    .chnls .clm img {
        height: 9vh;
    }
    .chnls .clm{
        margin-top: -55%;
    }
    .rmt .rmt-cont {
        height: 35vh;
    }
    .prt3 .cont{
        padding-top: 4%;
    }
    
    .chnls .clm img:hover{
        /* width: 80px;
        height:  8vh;
        transition: 0.4s;
        box-shadow: 20px 90px solid #aaaaaa; */
        transform:  scale(1.04);
    }
    .cld{
        margin-top: 50%;
    }
    .cld .fam {
        height: 31.5vh;
    }
}